body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

/*div - jako cely flex box*/

.obrazek-plus-texty {
  display: flex;
  flex-direction: column;
  /*color: #ffffff;*/
  text-align: center;
  width: 360px;
  position: absolute;
  top: 50px;
  left: calc(50% - 360px/2);
}

.nadpis-text {
  background-color: #283e50;
  /*padding: 0 0 15px 0;*/
}

.uvodni-obrazek {
  position: center;
  border-radius: 5px 5px 0px 0px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
  color: #ffffff;
}

.piskvorky-text {
  flex-wrap: wrap;
  /*font-family: Arial, sans-serif;*/
  text-align: center;
  padding: 0 10px 15px 10px;

  line-height: 1.5;
}

.pravidla {
  background-color: #1fcca4;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration-line: none;
  padding: 15px 0;
  border-bottom: 2px solid #283e50;
}

.pravidla:hover {
  background-color: #1cbb96;
}



.zacit-hrat {
  background-color: #0197f6;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration-line: none;
  padding: 15px 0;
}

.zacit-hrat:hover {
  background-color: #0090e9;
}

.domu-obrazek {
  background-color: #1fcca4;
  padding: 10px 8px 12px 8px;
  border-radius: 5px;
  margin-right: 10px;
}

.domu-obrazek:hover {
  background-color: #1cbb96;
}

.restart-obrazek {
  background-color: #0197f6;
  padding: 10px 8px 12px 8px;
  border-radius: 5px;
}

.restart-obrazek:hover {
  background-color: #0090e9;
}


.text-hraje {
  font-weight: bold;
  /*color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;*/
  font-size: 24px;
  display: flex;
  margin: 5px;
}

p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.krouzek {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  border: 3px solid white;
  border-radius: 50%;
}

.krizek {
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 36px;
  margin: -5px 0 0 0;
  display: none;
}


.hraje-krouzek {
  display: flex;
  margin-bottom: 10px;
}


.ikony-hry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


.ovladaci-tlacitka {
  display: flex;
  justify-content: center;
}

.sto-tlacitek {
  display: flex;
  /*max-width: 80vmin;*/
  flex-wrap: wrap;
  border: 1px solid black;
}

button:focus {
  background-color: rgb(220, 220, 220);
}

button:hover {
  background-color: rgb(220, 220, 220);
}

button {
  width: 10%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  background-color: rgb(191, 191, 191);
  cursor: pointer;

}

.veliky-flex-box {
  display: flex;
  max-width: 80vmin;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50px;
}

.deset-tlacitek {
  width: 100%;
}

.board__field--circle {
  background-image: url(circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.board__field--cross {
  background-image: url(cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
