body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

/*div - jako cely flex box*/

.obrazek-plus-texty {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  width: 360px;
  position: absolute;
  top: 50px;
  left: calc(50% - 175px);


}

.nadpis-text {
  background-color: #283e50;
  padding: 0 0 15px 0;
}

.uvodni-obrazek {
  position: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
}

p {
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0 10px;
  line-height: 1.5;
}

.pravidla {
  background-color: #1fcca4;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration-line: none;

  padding: 20px 0;
}

.pravidla:hover {
  background-color: #1cbb96;
}



.zacit-hrat {
  background-color: #0197f6;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration-line: none;
  padding: 20px 0;
}

.zacit-hrat:hover {
  background-color: #0090e9;
}
